p{
    text-indent: 100px;
    word-spacing: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img.leon{
vertical-align: middle;
}
/* span puedes selecionar una parte del codigo en especifico */

