/*selector universal*/
*{
    background-color: yellow;
}
/*Selector de etiqueta*/
h1{
    background-color: green;
}
/*Selector de clase*/
p.fondoazul{
    background-color: blue;
}
p.fondoverde{
    background-color: lime;
}
p.fondorojo{
    background-color: red;
}
p.fondorosa{
    background-color: rgb(233, 7, 184);
}
p.fondonamorado{
    background-color: purple;
}
/*selectro de id*/
p#unicomarron{
    background-color: saddlebrown;
}